body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-part {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  margin-right: 76px;
}

.navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.nav-item {
  color: #2e2f42;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--ocean, #404bbf);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.adress {
  font-style: normal;
}

.adress-item {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.adress-item:hover,
.adress-item:focus {
  color: var(--ocean, #404bbf);
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.background {
  background: #2e2f42;
}

.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  color: var(--white, #fff);
  text-align: center;
  /* Header 1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;

  padding-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.button-text:hover,
.button-text:focus {
  background: var(--ocean, #404bbf);
}

.button-text {
  color: var(--white, #fff);
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background: var(--iris, #4d5ae5);
  cursor: pointer;

  padding: 16px 32px;
}

.section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-top: 120px;
  margin-bottom: 72px;
}

.section-inner-title {
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;

  padding-bottom: 8px;
  padding-top: 32px;
}

.section-text {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;

  padding-bottom: 32px;
}

.second-section-background {
  background: #f4f4fd;
}

.list-img {
  background-color: #ffffff;
}

.footer-logo-part {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;

  padding-top: 18px;
  width: 264px;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-navigation {
  display: flex;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}

.first-section-list {
  display: flex;
  gap: 24px;
}

.first-section-container {
  margin: 120px auto;
}

.second-section-list {
  display: flex;
  gap: 24px;

  margin-bottom: 120px;
}

.second-section-card {
  text-align: center;
}

.third-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 120px;
}

.footer-container {
  padding-top: 102px;
  padding-bottom: 100px;
}

.footer-background {
  background: #2e2f42;
}
